@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*background: black;*/
    /*color: white;*/
}

pre {
    overflow: hidden;
    text-overflow: ellipsis;
}

#search {
     box-sizing: border-box;
     border: 1.5px solid rgba(22, 98, 198, 0);
    color: black
}

#search:focus-visible {
    border: 1.5px solid #1662C6;
    outline: 3px solid #A3C3F7;
}
