@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    /*color: white;*/
}



#search {
     box-sizing: border-box;
     border: 1.5px solid rgba(22, 98, 198, 0);
}

#search:focus-visible {
    border: 1.5px solid #1662C6;
    outline: 3px solid #A3C3F7;
}
